{
  "endOfLine": "lf",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "printWidth": 500,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true,
        "tabWidth": 2
      }
    }
  ]
}
